# ======================================================================
# BLOB DETECTION
# ======================================================================

[gcode_macro SMART_CAMERA_VARS]
description: User-defined coordinates for the camera parking bucket

# !!!!!!!!!! Modify below values to match your physical printer setup !!!!!!!!!!
variable_park_x: 10.0
variable_park_y: 300.0
variable_park_z: 50.0           # Absolute Z height where camera is in focus
variable_travel_speed: 150      # Travel speed in mm/s
variable_z_hop: 5.0             # Safe Z-hop distance before parking
gcode:
    # intentionally left blank. only stores variables.

# ======================================================================

[gcode_shell_command ai_blob_checker]
# !!!!!!!!!! this path should matche where you saved the Python script !!!!!!!!!!
command: python3 ~/scripts/blob_checker.py
timeout: 15.0
verbose: True

# ======================================================================

[gcode_macro CHECK_NOZZLE_STATE]
description: Parks toolhead, triggers ESP32 AI vision check, and resumes
gcode:
    {% set vars = printer["gcode_macro SMART_CAMERA_VARS"] %}
    {% set cam_x = vars.park_x %}
    {% set cam_y = vars.park_y %}
    {% set cam_z = vars.park_z %}
    {% set speed = vars.travel_speed * 60 %}
    {% set z_hop = vars.z_hop %}

    SAVE_GCODE_STATE NAME=pre_cam_check_state
    G91 
    G0 Z{z_hop} F600

    G90 
    G0 X{cam_x} Y{cam_y} Z{cam_z} F{speed}
    M400 

    M118 Triggering Nozzle Inspection...
    RUN_SHELL_COMMAND CMD=ai_blob_checker

    M118 Inspection passed. Resuming print.
    RESTORE_GCODE_STATE NAME=pre_cam_check_state MOVE=1 MOVE_SPEED={vars.travel_speed}